.parent{
  width: 1000px;
  height: 800px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  gap: 20px;
  button{

    cursor: pointer;
  }
}
.pointer{
  pointer-events: none;
}
