<h2>Child Comp</h2>



<button (click)="changeNewText()">click</button>


<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of childCourses">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
    </tr>
  </tbody>
</table>

<input type="number" >
<input type="text">
<button >add</button>



<div class="info-popup" [ngClass]='{closeAnimation: hasCloseAnimation}'>
  <span class="info-popup__close" (click)="closePopup()">X</span>
</div>
