<button class="button-27" role="button" (click)="getData()">DATA</button>

<table>
  <thead>
    <tr>
      <th>Currency Code</th>
      <th>Description</th>
      <th>Rate</th>
      <th>Rate (Float)</th>
      <th>Symbol</th>
    </tr>
  </thead>
  <tbody *ngIf="feData$ | async as param">
    <tr *ngFor="let newData of param.currency">
      <td>{{ newData.code }}</td>
      <td>{{ newData.description }}</td>
      <td>{{ newData.rate }}</td>
      <td>{{ newData.rate_float }}</td>
      <td>{{ newData.symbol }}</td>
    </tr>
  </tbody>
</table>

<app-post/>
