
  <div class="usd-to-gel">
    <div>
      <label   for="USD">{{selected? 'GEL' : 'USD'}}</label>
      <input [ngModel]="selected ? gel : usd" type="number" (ngModelChange)="convert()" (ngModelChange)="onInputChange($event)" />
    </div>
    <div>
      <button (click)="convert()">Convert</button>
      <img (click)="changeCurr()" [src]="img" alt="*">
    </div>
    <div><label for="USD">{{selected? 'USD' : 'GEL'}}</label>
      <input [ngModel]="selected? usd : gel" type="number">
    </div>
  </div>

